.day {
    position: relative;
    width: calc(100% / 7);
    height: 100px;
    display: inline-block;
    background-color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
    text-align: center;
    border: solid black;
    border-width: 1px;
}

.calendar {
    padding-bottom: 24px; 
    border-width: 6px;
    border: solid black;
}

.selected {
    background-color: rgb(61, 145, 214);
    height: 100%;
}

.previous .current .next {
    text-align: center;
    background-color: yellow;
}
div {
    text-align: center;
}

.container {
    font-family: 'Poppins', sans-serif;
}

body {
    padding-top: 75px;
}

.schedule, .to-do, .alarm, .music{
    border-width: 6px;
    border: solid black;
    padding: 4px;
    height: 100%;
}

.clock {
    margin: auto;
}



.bottom {
    padding-top: 24px;
}

